{% extends 'fb4common/base.html' %}
{% import 'macros.html' as macros %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}
{{ macros.header(title) }}
{% if menuList %}{{ macros.menu(menuList) }}{%endif %}
{% if content is not none %}{{ content|safe }}{%endif %}
{% if error is not none %}<span style="color:red">Error: {{ error }}</span>{%endif %}
{{ macros.footer() }}


{% block content %}

    <div style="text-align: center;"><h1>Search for Event-Series</h1>
        <!-- <p>{% raw %}{{ render_form(form, button_style='success', button_size='block') }}{% endraw %}</p> -->
        <!-- {{ render_form(form, button_style='success', button_size='block', method="post", action=url_for('test_table', msg=request.form['query']) ) }} -->
        <input type="text" placeholder="Enter Acronym here" id="query">
        <button type="button" onclick="getInputValue();">Search</button>
        </div>


{% endblock %}

{% block scripts %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
    	$('.table').DataTable();
	});
	function getInputValue(){

            // Selecting the input element and get its value
            var inputVal = document.getElementById('query').value;

            var current_url = window.location.href

            var query_url = ''
            if (current_url.includes('table/')){
                query_url = inputVal
            }
            else{
                query_url = 'table/'.concat( inputVal);
            }

            // Displaying the value
            open(query_url, "_self")
        };
    </script>
{% endblock %}
