{% extends 'fb4common/base.html' %}
{% from 'bootstrap/table.html' import render_table %}

{% block content %}

    <div style="text-align: center;">
        <h1>Results:</h1>
            Search by a different acronym:<br>
            <input type="text" placeholder="Enter Acronym here" id="query">
            <button type="button" onclick="getInputValue();">Search</button>
    </div>

{{ render_table(messages) }}
<!--
<h1>Customized Table</h1>
<p>{% raw %}{{ render_table(messages, titles, table_classes='table-striped', header_classes='thead-dark', caption='Messages') }}{% endraw %}</p>
{{ render_table(messages, titles, table_classes='table-striped', header_classes='thead-dark', caption='Messages') }}

<h1>Responsive Table</h1>
<p>{% raw %}{{ render_table(messages, responsive=True, responsive_class='table-responsive-sm') }}{% endraw %}</p>
{{ render_table(messages, responsive=True, responsive_class='table-responsive-sm') }}

<h1>Table with actions</h1>
<p>{% raw %}{{ render_table(messages, show_actions=True,
                            view_url=url_for('view_message', message_id=':primary_key'),
                            edit_url=url_for('edit_message', message_id=':primary_key'),
                            delete_url=url_for('delete_message', message_id=':primary_key')) }}{% endraw %}</p>
{{ render_table(messages, show_actions=True,
                view_url=url_for('view_message', message_id=':primary_key'),
                edit_url=url_for('edit_message', message_id=':primary_key'),
                delete_url=url_for('delete_message', message_id=':primary_key')) }}
{% endblock %}
//-->


{% block scripts %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
    	$('.table').DataTable();
	});
	function getInputValue(){

            // Selecting the input element and get its value
            var inputVal = document.getElementById('query').value;

            var current_url = window.location.href

            var query_url = current_url.split('table/')[0]

            query_url = query_url.concat('table/', inputVal);

            // Displaying the value
            open(query_url, "_self")
        };
    </script>
{% endblock %}
